<div class="character">
    <div class="avatar">
        <div class="image">
            <img [src]="character?.imageUrl" alt="image">
            <div class="level">{{ 'character.level' | translate }} {{ character?.level }}</div>
        </div>
    </div>

    <div class="description">
        <div class="info">
            <div class="labels">
                <div class="highlight">{{ 'character.name' | translate }}:</div>
                <div class="highlight">{{ 'character.race' | translate }}:</div>
                <div class="highlight">{{ 'character.class' | translate }}:</div>
            </div>

            <div class="values">
                <div>{{ character?.name }}</div>
                <div>{{ ('races.' + character?.race?.description) | translate }}</div>
                <div>{{ ('classes.' + character?.class?.description) | translate }}</div>
            </div>
        </div>

        <div class="stats">
            <div class="labels">
                <div class="highlight">{{ 'character.dexterity' | translate }}:</div>
                <div class="highlight">{{ 'character.intelligence' | translate }}:</div>
                <div class="highlight">{{ 'character.charisma' | translate }}:</div>
                <div class="highlight">{{ 'character.wisdom' | translate }}:</div>
                <div class="highlight">{{ 'character.perception' | translate }}:</div>
            </div>

            <div class="values">
                <div>{{ character?.dexterity }}</div>
                <div>{{ character?.intelligence }}</div>
                <div>{{ character?.charisma }}</div>
                <div>{{ character?.wisdom }}</div>
                <div>{{ character?.perception }}</div>
            </div>
        </div>

        <div class="situation">
            <div class="labels">
                <div class="life">{{ 'character.life' | translate }}:</div>
                <div class="tar">{{ 'character.tar' | translate }}:</div>
            </div>

            <div class="values">
                <div><span class="life">{{ character?.life }}</span>/{{ character?.maxLife }}</div>
                <div><span class="tar">{{ character?.tar }}</span>/{{ character?.maxTar }}</div>
            </div>
        </div>
    </div>
</div>