<div class="image">
    <img [src]="character?.imageUrl" alt="image">
    <div class="level">{{ 'character.level' | translate }} {{ character?.level }}</div>
</div>

<div>
    <span class="highlight">{{ 'character.name' | translate }}:</span>
    <span>{{ character?.name }}</span>
</div>

<div>
    <span class="highlight">{{ 'character.race' | translate }}:</span>
    <span>{{ ('races.' + character?.race?.description) | translate }}</span>
</div>

<div>
    <span class="highlight">{{ 'character.class' | translate }}:</span>
    <span>{{ ('classes.' + character?.class?.description) | translate }}</span>
</div>

<div>
    <span class="highlight">{{ 'character.dexterity' | translate }}:</span>
    <span>{{ character?.dexterity }} {{ character?.getModifier(character!.dexterity) }}</span>
</div>

<div>
    <span class="highlight">{{ 'character.intelligence' | translate }}:</span>
    <span>{{ character?.intelligence }} {{ character?.getModifier(character!.intelligence) }}</span>
</div>

<div>
    <span class="highlight">{{ 'character.charisma' | translate }}:</span>
    <span>{{ character?.charisma }} {{ character?.getModifier(character!.charisma) }}</span>
</div>

<div>
    <span class="highlight">{{ 'character.wisdom' | translate }}:</span>
    <span>{{ character?.wisdom }} {{ character?.getModifier(character!.wisdom) }}</span>
</div>

<div>
    <span class="highlight">{{ 'character.perception' | translate }}:</span>
    <span>{{ character?.perception }} {{ character?.getModifier(character!.perception) }}</span>
</div>

<div>
    <span class="life">{{ 'character.life' | translate }}:</span>
    <span><span class="life">{{ character?.life }}</span>/{{ character?.maxLife }}</span>
</div>
    <span class="tar">{{ 'character.tar' | translate }}:</span>
    <span><span class="tar">{{ character?.tar }}</span>/{{ character?.maxTar }}</span>
<div>