@if (form) {
    <div>
        @for (control of form.controls; track control) {
            @if (control.label) {
                <div>{{ control.label | translate }}</div>
            }

            @switch (control.type) {
                @case (getControlType().TITLE) {
                    <div>{{ (control.label || control.selector || '') | translate }}</div>
                }
                @case (getControlType().TEXT) {
                    <input #textInput (change)="updateValue(control, textInput)" (input)="updateValue(control, textInput)" type="text" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate" [value]="control.defaultValue || control.value || ''" [attr.maxLength]="control.max" [attr.minLength]="control.min">
                }
                @case (getControlType().PASSWORD) {
                    <input #passwordInput (change)="updateValue(control, passwordInput)" type="password" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate">
                }
                @case (getControlType().EMAIL) {
                    <input #emailInput (change)="updateValue(control, emailInput)" type="email" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate">
                }
                @case (getControlType().RADIO) {
                    <input #radioInput type="hidden" [required]="control.required" [id]="control.selector" [value]="control.defaultValue || control.value || ''">

                    @for (option of control.options; track option) {
                        <div (click)="radioInput.value = toggleRadio(control, option.value); updateValue(control, radioInput)" class="radioCheckElement" [class.selected]="control.value === option.value">
                            <ng-container *ngTemplateOutlet="radioTemplate"></ng-container>
                            <span>{{ option.label | translate }}</span>
                        </div>
                    }
                }
                @case (getControlType().CHECKBOX) {
                    <input #checkboxInput type="hidden" [required]="control.required" [id]="control.selector" [value]="control.defaultValue || control.value || ''">
                    
                    @for (option of control.options; track option) {
                        <div (click)="checkboxInput.value = toggleCheckbox(option.value); updateValue(control, checkboxInput)" class="radioCheckElement" [class.selected]="checkboxSelected(option.value, control)">
                            <ng-container *ngTemplateOutlet="checkboxTemplate; context: { selected: checkboxSelected(option.value, control) }"></ng-container>
                            <span>{{ option.label | translate }}</span>
                        </div>
                    }
                }
                @case (getControlType().COLOR) {
                    <input #colorInput (change)="updateValue(control, colorInput)" type="color" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate" [value]="control.defaultValue || control.value || ''">
                    
                    @if (control.label) {
                        <span>{{ (control.label || '') | translate }}</span>
                    }
                }
                @case (getControlType().NUMBER) {
                    <input #numberInput (change)="updateValue(control, numberInput)" (input)="updateValue(control, numberInput)" type="number" [required]="control.required" [id]="control.selector" [placeholder]="(control.placeholder || '') | translate" [value]="control.defaultValue || control.value || ''" [attr.max]="control.max" [attr.min]="control.min">
                }
                @case (getControlType().SPACER) {
                    <br>
                    <div style="margin-top: 1rem;"></div>
                }
            }
        }
    </div>
}

<ng-template #radioTemplate>
    <div class="radio"></div>
</ng-template>

<ng-template #checkboxTemplate let-selected="selected">
    <div class="checkbox">
        @if (selected) {
            <span>x</span>
        }
    </div>
</ng-template>