@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

// Variables will be overwritten by themes.service.ts
:root {
    --primary: #270C0E;
    --secondary: #724706;
    --accent: #44562d;
    --accentDark: #1f2815;
    --background: #151312;
    --text: #E7E7E7;

    --white: #e7e7e7;
    --black: #111;
    --grey: #7c7c7c;
    --red: #d92323;
    --violet: #8c33d4;

    --danger: #721f2a;
    --success: #3d612e;
    --warning: #bd6b2d;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 10px;
    background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--background);
}

* {
    box-sizing: border-box;
    color: var(--text);
    // border: 2px solid red;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--black);
    background-size: cover;
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;;
}

button {
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;

    &.outline, &.link {
        background-color: transparent !important;
    }

    &.link {
        text-decoration: underline;
    }

    &.p-0 {
        padding: 0;
    }

    &.disabled {
        background-color: var(--grey);
    }

    &.primary {
        background-color: var(--primary);
        color: var(--white);

        &.outline {
            border-color: var(--primary);
            color: var(--primary);
        }

        &.link {
            color: var(--primary);
        }
    }

    &.secondary {
        background-color: var(--secondary);
        color: var(--white);

        &.outline {
            border-color: var(--secondary);
            color: var(--secondary);
        }

        &.link {
            color: var(--secondary);
        }

        &.disabled {
            background-color: var(--grey);
        }
    }

    &.accent {
        background-color: var(--accent);
        color: var(--white);

        &.outline {
            border-color: var(--accent);
            color: var(--accent);
        }

        &.link {
            color: var(--accent);
        }

        &.disabled {
            background-color: var(--grey);
        }
    }

    &.accent-dark {
        background-color: var(--accentDark);
        color: var(--white);

        &.outline {
            border-color: var(--accentDark);
            color: var(--accentDark);
        }

        &.link {
            color: var(--accentDark);
        }

        &.disabled {
            background-color: var(--grey);
        }
    }

    &.disabled {
        background-color: var(--grey);
        cursor: not-allowed;

        &.outline {
            border-color: var(--grey);
            color: var(--grey);
        }

        &.link {
            color: var(--grey);
        }
    }
}

.highlight {
    color: var(--secondary);
}

.accent {
    color: var(--accent);
}

.life {
    color: var(--red);
}

.tar {
    color: var(--violet);
}